body{
	width: 80%;
	margin: auto;
	max-width: 1024px;
	min-width: 600px;

}

header img{
	float:left;
	
}

header nav{
	float:right;
	font-size: 12px;
	line-height: 1.5em;
	color: rgb(121,181,25);
}

p{
	font-size:12px;
	line-height: 1.5em;
}

//表格內的寬度
article{
	width: 690px;
}

aside{
	width: 245px;
	float: right;
	background:rgba(232,245,184,70);
	height: 1650px;
	font-size: 12px;
	line-height: 1.5em;


}
#leftnav li:hover{
	color: rgb(247,113,30);
}
#leftnav li:active{
	color: rgb(250,0,0);
}
#rightnav li:hover{
	color: rgb(247,113,30);
}
#rightnav li:active{
	color: rgb(250,0,0);
}

#concertinfo{
	background: rgb(0,0,0);
	width:300px;
	line-height: 1em;
	padding-left: 30px;
}

#time{
	color: rgb(247,113,30);
	line-height: 2.5em;
	font-size: 15px;

}
#info{
	color: rgb(255,255,255);
	font-size: 10px;
	padding-top: 0px;
	line-height: 1.8em;
}
#songs{
	font-size: 12px;
	line-height: 1.5em;
}
#white{
	height: 20px;
}

.green{
	color: rgb(121,181,25);
	list-style:none;
  display:inline;
}

.center{
	border: auto;

}
.red{
	color: rgb(201,32,32);
}

